.contact-form {
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    margin: auto;
    justify-items: left;
}