/*------------------------------------------------------------------------------------------------- Universal styles */
html, body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    min-height: 100vh;
}

body {
    background: linear-gradient(135deg, mistyRose, skyBlue, mediumPurple);
    font-family: 'Arial';
    background-repeat: no-repeat;
    background-attachment: scroll;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

hr {
    width: 50%;
    margin-bottom: 3%;
}

/*------------------------------------------------------------------------------------------------- Nav bar */

nav {
    position: absolute;
    top: 3%;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
}

.nav {
    overflow: hidden;
}

.navbar {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    justify-self: center;
    background-color: white;
    width: 10%;
}

.icon {
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 25%;
    float: right;
}

/* Add an active class to highlight the current page */
.active {
    background-color: rgb(216, 181, 245);
}

@media only screen and (min-width: 701px) {
    /* hide the hamburger icon */
    .icon {
        display: none;
    }
    /* show all the nav-links */
    .navbar {
        display: block;
    }
}

    /* if browser window is small (max-width) */
@media only screen and (max-width: 700px) {
    /* show everything with the hamburger class */
    .icon {
        display: block;
    }
    /* hide all the nav-buttons */
    .navbar {
        display: none;
    }
}

/*------------------------------------------------------------------------------------------------- Index page */

/* Intro animation? */

.index {
	text-align: center;
}

.heading {
    text-align: center;
    font-size: 350%;
    margin-top: 5%;
}

.content {
    flex: 1;
    overflow: hidden;
    width: 95%;
    margin-left: 5%;
    margin-right: 5%;
}

.container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
}

.index-container {
    margin-top: 15%;
}

.index-heading {
    font-size: 350%;
}

#profile {
    width: 50%;
    float: right;
}

.center {
    text-align: center;
}

.float-left {
    float: left;
    width: 45%;
    margin-right: 2%;
    justify-content: left;
}

.float-right {
    float: right;
    width: 50%;
    justify-content: right;
}

.education-table {
    width: 100%;
}

.project-img {
    width: 50%;
    height: auto;
    margin-left: 15%;
    margin-top: 2%;
}

.left {
    text-align: left;
    float: left;
}

section {
    margin-left: 3%;
    margin-top: 3%;
}

p {
    line-height: 1.6;
    text-align: justify;
}

table {
    justify-self: center;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 60%;
}

.index-table {
    margin-top: 10%;
}

.education-table tr td p {
    text-align: center;
}

th, td {
    margin-left: 5%;
}

th, td, tr {
    text-align: center;
}

.button:hover {
    color: purple;
}

li {
    text-align: justify;
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

.center {
    text-align: center;
}

.show {
    display:block;
}

li, ul {
    line-height: 1.6;
}

.hide {
    display: none;
}

@media all and (min-width: 960px) {
    /* Mobile design */
}

@media only screen and (min-width: 1201px) {
    #profile {
        margin-left: 200px;
        margin-right: 200px;
    }
    #dropdown-button {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    #dropdown-button {
        display: block;
    }
    .content {
        margin-right: 1%;
        margin-left: 1%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    #profile {
        width: 75%;
    }
    table {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    #profile {
        width: 85%;
    }
    table {
        width: 100%;
        font-size: 85%;
    }
    .float-right, .float-left {
        float: center;
        width: 90%;
        justify-content: center;
    }
    .project-img {
        width: 90%;
        margin-left: 2%;
    }
}

/* Active class for menu */
/* Responsive navbar */