/*------------------------------------------------------------------------------------------------- Universal styles */
html, body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    min-height: 100vh;
}

body {
    background-repeat: no-repeat;
    background-image: linear-gradient(135deg, #EB5F8E, transparent 70%), linear-gradient(45deg, #FE981D, #FCC31E,#35ADCE 85%), linear-gradient(135deg,#EB5F8E,#FCC31E,#35ADCE), linear-gradient(270deg, #35ADCE, transparent 30%);
    font-family: 'Arial';
    background-attachment: scroll;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    color: #221111;
}

hr {
    width: 50%;
    margin-bottom: 3%;
}

/*------------------------------------------------------------------------------------------------- Nav bar */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0px;
    border-bottom: 2px solid #221111;
}

.navbar {
    text-decoration: none;
    color: #221111;
    border-right: 2px solid #221111;
    border-left: 2px solid #221111;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-self: center;
    background-color: #c99de2;
    width: 100%;
    text-align: center;
}

/* Active class to highlight the current page */
.active {
    background-color: #996ccc;
}

/*------------------------------------------------------------------------------------------------- Index page */

.index {
    text-align: center;
}

header {
    margin-top: 7%;
}

.heading {
    text-align: center;
    font-size: 350%;
}

.content {
    flex: 1;
    overflow: hidden;
    width: 95%;
    margin-left: 5%;
    margin-right: 5%;
}

.container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
}

.index-container {
    margin-top: 15%;
}

.index-heading {
    font-size: 350%;
}

#profile {
    width: 50%;
    float: right;
}

.center {
    text-align: center;
}

.float-left {
    float: left;
    width: 45%;
    margin-right: 2%;
    justify-content: left;
}

.float-right {
    float: right;
    width: 50%;
    justify-content: right;
}

/*------------------------------------------------------------------------------------------------- Education page */

.education-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.education-grid-p, .education-heading {
    text-align: center;
}

.education-inner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 30%;
}

.project-img {
    width: 50%;
    height: auto;
    margin-left: 15%;
    margin-top: 2%;
}

.left {
    text-align: left;
    float: left;
}

section {
    margin-left: 3%;
    margin-top: 3%;
}

p {
    line-height: 1.6;
    text-align: justify;
}

table {
    justify-self: center;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 60%;
}

.index-table {
    margin-top: 10%;
}

th, td {
    margin-left: 5%;
}

th, td, tr {
    text-align: center;
}

.button:hover {
    color: purple;
}

li {
    text-align: justify;
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

.center {
    text-align: center;
}

.show {
    display:block;
}

li, ul {
    line-height: 1.6;
}

.hide {
    display: none;
}

@media all and (min-width: 960px) {
    /* Mobile design */
}

@media only screen and (min-width: 1201px) {
    #profile {
        margin-left: 200px;
        margin-right: 200px;
    }
    #dropdown-button {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    #dropdown-button {
        display: block;
    }
    .content {
        margin-right: 1%;
        margin-left: 1%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    #profile {
        width: 75%;
    }
    table {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    #profile {
        width: 85%;
    }
    table {
        width: 100%;
        font-size: 85%;
    }
    .float-right, .float-left {
        float: center;
        width: 90%;
        justify-content: center;
    }
    .project-img {
        width: 90%;
        margin-left: 2%;
    }
}

/* Active class for menu */
/* Responsive navbar */